:root {
  --brand-dark-grey: #f0f0f0;
  --brand-light-grey: #f6f6f6;
  --brand-white: #ffffff;
  --brand-turquoise: #c5f5fa;
  --brand-black: #000000;
  --brand-red: #ff5b5a;
  --container-width: 1170px;
}

body {
  background-color: white;
}

.product .column:nth-child(2) {
  background-color: var(--brand-dark-grey);
}
.product.flex-it {
  display: flex;
  justify-content: space-between;
}

.product.flex-it .column,
.product-description.flex-it {
  /* flex-basis: 1; */
  width: 50%;
}

.product-description .column {
  min-height: 444px;
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
}

.app-header {
  background-color: var(--brand-light-grey);
}

.logo {
  width: 122px;
}

img {
  width: 100%;
}

.app-body {
  background-color: var(--brand-white);
}

.app-footer {
  background-color: var(--brand-black);
}

.flex-it {
  display: flex;
  justify-content: space-between;
}

.account-nav li,
.main-navigation li,
.bread-crumb li {
  display: inline-block;
}

.bread-crumb a::after {
  content: '>';
}

.account-nav,
.main-navigation,
.bread-crumb ol {
  list-style: none;
}

a:link,
a:visited {
  color: var(--brand-black);
  text-decoration: none;
}
